<!-- Intro Section -->
<section class="relative overflow-hidden mb-2">


    <div class="bg-gradient absolute w-full h-full z-40 opacity-60"></div>


    <div class="container mx-auto relative z-50">
        <div class="text-center px-20 py-40 lg:py-60 w-full md:w-8/12 mx-auto">
            <h1 class="text-7xl font-bold uppercase mb-2">Lights, Camera, Miau!</h1>
            <p>
                Collect videos of your gatito!
            </p>
        </div>
    </div>
</section>

<!-- Main Content -->
<section class="container mx-auto">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">
        Latest
    </h1>

    <app-clip-list></app-clip-list>
</section>